# python virtual environments
.venv
**/__pycache__
**/*.py[cod]

# tooling caches
.pytest_cache
.mypy_cache
.ruff_cache
.coverage

# vcs, docs and local state
.git
.gitignore
.gitattributes
*.md
tests/
deploy/data

# ignore local config files
identity.yaml
